<label>Author Name</label>
<input type="text" name="Authorname" value="<%=book.Authorname %>">
<label>Title</label>
<input type="text" name="Title" value="<%=book.Title %>">
<label>Reviews</label>
<input type="text" name="reviews" value="<%=book.reviews %>">